@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    font-family: "Mulish", sans-serif;
}
/* common style shared */
.btn-button{
    border: 0px;
    border-radius: 8px;
    padding: 10px 40px;
    background: #FF5400;
    color: #FFF;
}
.text-light-gray{
    color: #5A5A5D;
}
.text-black{ 
   color: #131318;
   font-size: 40px; 
   font-weight: 800;
}
/* header section style */
/* nav section style */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo h2{
    color: #131318;
    font-size: 36px; 
    font-weight: 800;
}
.logo #travel{
    color: #FF5400;
}
.nav-bar > ul{
    list-style: none;
    display: flex;
    
}
.nav-bar ul li{
    margin-right: 44px;
    
}
.nav-bar ul li a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
    font-size: 18px;
    font-weight: 700; 
}
.nav-bar ul li #home{
    color: #FF5400;
}
/* banner section style */
.banner{
    width: 100%;
    height: 500px;
    margin-top: 50px;
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-info{
    text-align: center;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}
.banner-info h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding-top: 120px;
}
.banner-description{
    margin-top: 24px;
    color: #FFF;
}
.banner-menu-bar{
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    border-radius: 8px; 
    background: rgba(255, 255, 255, 0.30);
    padding: 10px;
    gap: 4px;
}
 .input{
     position: relative;
 }
 .input input{
    padding: 10px 20px;
    border-radius: 8px;
    border: 0px; 
 }
 .input #icon{
    position: absolute;
    top: 12px;
    right: 21px;
    color: rgba(19, 19, 24, 0.50);
 }
.input #icons{
    position: absolute;
    top: 12px;
    right: 220px;
    color: rgba(19, 19, 24, 0.50);
}
/* main section start */
.tour-container{
    display: flex;
    margin-top: 100px;
    gap: 60px;
}
.light gray{
    color: rgba(19, 19, 24, 0.70);
}
.about-tours button{
    font-size: 20px;
}
.hide{
    display: none;
}
/* media query */
/* small device */
@media screen and (max-width: 576px) {
    /*  
    .nav-container, .nav-bar > ul, .banner-menu-bar{
        flex-direction: column;
    }
    .banner-menu-bar, .banner-description{
        margin: 10px;
    }
    .banner-info h1{
        padding-top: 10px;
         font-size: 30px;
    }
    .banner-menu-bar{
       display: flex; 
       width: 287px;
       padding: 16px;
       gap: 16px;
    }
    .banner{
        height: 100%;
        background-position: center;
    }
     .input input{ 
        margin: 10px auto;*/
     }
     /* main section media query */
     .tour-container{
        flex-direction: column;
     }
     .tour-img img{
         width: 100%;
     }
}