@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    font-family: "Mulish", sans-serif;
}
/* common style shared */
.btn-button{
    border: 0px;
    border-radius: 8px;
    padding: 10px 40px;
    background: #FF5400;
    color: #FFF;
}
.text-light-gray{
    color: #5A5A5D;
}
.text-black{ 
   color: #131318;
   font-size: 40px; 
   font-weight: 800;
}
/* header section style */
/* nav section style */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo h2{
    color: #131318;
    font-size: 36px; 
    font-weight: 800;
}
.logo #travel{
    color: #FF5400;
}
.nav-bar > ul{
    list-style: none;
    display: flex;
    
}
.nav-bar ul li{
    margin-right: 44px;
    
}
.nav-bar ul li a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
    font-size: 18px;
    font-weight: 700; 
}
.nav-bar ul li #home{
    color: #FF5400;
}
/* banner section style */
.banner{
    width: 100%;
    height: 500px;
    margin-top: 50px;
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-info{
    text-align: center;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}
.banner-info h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding-top: 120px;
}
.banner-description{
    margin-top: 24px;
    color: #FFF;
}
.banner-menu-bar{
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    border-radius: 8px; 
    background: rgba(255, 255, 255, 0.30);
    padding: 10px;
    gap: 4px;
}
 .input{
     position: relative;
 }
 .input input{
    padding: 10px 20px;
    border-radius: 8px;
    border: 0px; 
 }
 .input #icon{
    position: absolute;
    top: 12px;
    right: 21px;
    color: rgba(19, 19, 24, 0.50);
 }
.input #icons{
    position: absolute;
    top: 12px;
    right: 220px;
    color: rgba(19, 19, 24, 0.50);
}
/* main section start */
/* tour section style */
.tour-container{
    display: flex;
    margin-top: 100px;
    gap: 60px;
}
.light gray{
    color: rgba(19, 19, 24, 0.70);
}
.about-tours button{
    font-size: 20px;
}
/* destination section style */
.destination-info{
     text-align: center;
}
.destination-image-container img{
    width: 100%;
    height: 100%;
}
.destination-img{ 
    height: 300px;
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    position: relative;
}
.destination-img #maldives{ 
    position: absolute;
    top: 50%;
    left: 15%;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    margin: 0;
}
.destination-img #indonesia{
    position: absolute;
    top: 50%;
    right: 20%;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    margin: 0;
}
.destination-img #srilanka{
    position: absolute;
    top: 50%;
    left: 10%;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    margin: 0;
}
.destination-img #north-america{
    position: absolute;
    top: 50%;
    right: 45%;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    margin: 0;
}
.destination-img #kashmir{
    position: absolute;
    top: 50%;
    left: 80%;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    margin: 0;
}
.destination-img #bangladesh{
    position: absolute;
    top: 50%;
    left: 15%;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    margin: 0;
}
.destination-img #bandarban{
    position: absolute;
    top: 50%;
    left: 70%;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    margin: 0;
}
/* card section style */
 
.card-text-container p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
}
.card-text-container h4{
    color: #131318;
    text-align: center;
    font-size: 40px; 
    font-weight: 800; 
}
.card-img{
    display: flex;
    justify-content: space-evenly;
}
.card1{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    padding: 10px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.card2{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    padding: 10px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.card1 h4, .card2 h4, .card3 h4{
    color: #131318;
    font-size: 24px;
    font-weight: 800; 
}
.card1 p, .card2 p, .card3 p{
    color: rgba(19, 19, 24, 0.70); 
}
.card-info-3{
    margin-top: 24px;
    display: flex;
    justify-content: center; 
}
.card3{
    border: 2px solid red;
    width: 573px;
    height: 284px; 
    border-radius: 16px;
    padding: 10px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
} 
/* simple perfect place style */
.place-container{
    display: flex;
    gap: 30px;
    margin-top: 100px;
}
.simple-perfect-place-info{
    padding: 20px;
}
.simple-perfect-place-info h1{
    color: #131318;
    font-size: 40px; 
    font-weight: 800; 
}
.simple-perfect-place-info p{
    color: #5A5A5D;
}
.simple-perfect-place-info ul li{
    color: #131318;
}
.simple-perfect-place-img{
    position: relative;
}
.simple-perfect-place-img h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #FFF;
    text-align: center;
    font-size: 24px; 
    font-weight: 700; 
}
/* news letter form style */
.news{
    width: 100%;
    display: flex;
    margin-top: 100px;
}
.news-letter-form{
    width: 50%;
    padding: 20px; 
}
.news-letter-form form{
    width: 400px;
    margin: 0 20px; 
}
.news-letter-form h5{
    color: #131318;
    font-size: 24px;
    font-weight: 800; 
}
.news-letter-form p, footer p{
    color: #5A5A5D
}
.news-letter-form input{
    border: 0px;
    padding: 12px;
    padding-right: 100px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}
 
.img-form{
    width: 50%;
    position: relative;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.discount{
    position: absolute;
    width: 300px;
    height: 140px;
    transform: rotate(-24.628deg);
    bottom: 15%;
    left: 53%;
    border-radius: 16px;
    background: #FF5400;
}
.discount h4{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    line-height: 0px;
}
.discount h2{
    color: #FFF; 
    font-size: 32px;
    text-align: center; 
    font-weight: 800; 
}
/* footer style */
.footer-info{ 
     height: 502px;
     margin-top: 100px;
     background: rgba(19, 19, 24, 0.05);
     text-align: center; 
}
footer .logo{
    justify-content: center;
}
.footer-icons i{ 
    margin: 30px 24px;
}
footer hr{
    width: 60%;
    margin: 50px auto; 
}
.copy-right{
    color: #131318;
    font-family: Inter;
    font-weight: 300;
}
/* media query */
/* small device */
@media screen and (max-width: 576px) { 
    .nav-container, .nav-bar > ul, .banner-menu-bar{
        flex-direction: column;
    }
    .banner-menu-bar, .banner-description{
        margin: 10px;
    }
    .banner h1{
     margin: 0; 
     font-size: 34px;
    }
    .input input{
        gap: 10px;
    }
 
    /* main section media query */
    .tour-container, .destination-container, .destination-img, .destination-img h4, .card-container, .card-img, .place-container, .news, .img-form .discount{
       flex-direction: column;
    }
    .tour-img img{
        width: 100%;
    }
    .destination-img{
        height: auto;
    }
    .destination-img h4{
        position: relative;
        color: #000;
    }
    .card1{
        margin-bottom: 20px;
    }
    .simple-perfect-place-img{
        margin-top: 10px;
    }
    .simple-perfect-place-img img{
         width: 100%;
    }
    .card1, .card2{
        width: auto;
    }
    .img-form img{
        width: 100%;
    }
    .discount{
    height: auto;
    transform: none;
    border-radius: 16px;
    background: #FF5400;
    }
}